@import '../variables.scss';


.loginHeader {
    background: $darkGrey;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 22px;
    font-family: 'Architects Daughter';
    padding: 15px;
    text-align: right;
}

.loginHeader a {
    margin-right: 30px;
}
