@import '../variables.scss';

.loginForm {
    border: 1px solid $lightBlue;
    border-radius: 5px;
    background: $darkGrey;
    color: $lightBlue;
    min-width: 480px;
    width: 50%;
    padding: 40px 80px; 
    
    position: absolute;
    top: 25%;
    left: 25%;
}

.loginForm h1 {
    margin-bottom: 30px;
}

.loginForm__label {
    width: 100px;
    margin-right: 40px;
}

.loginForm__input {
    width: 300px;
    min-width: 180px;
}

.loginForm__button {
    background-color: $lightBlue;
    opacity: 0.7;
}

.loginForm__button:hover {
    opacity: 1;
}

.loginForm__register a {
    color: $lightBlue;
}

.loginForm__register a:hover {
    color: $bgGrey;
}