.deptItem {
    background-color: #BEBEB3;
    padding: 7px;
    margin-top: 2px;
    width: 80%;
    overflow: hidden;
    border: 1px solid #7D7D7D;

}
.deptItem:hover {
    border: 2px solid #4F6AAB;
}

.deptItem__name {
    font-size: 20px;
    color: #101B6E;
}

.deptItem__amount {
    font-size: 20px;
    color: #C70040;
}

