@import '../variables.scss';

.deptItem {
    padding: 7px;
    margin-top: 2px;
    width: 80%;
    overflow: hidden;
    border: 1px solid #7D7D7D;
    font-size: 20px;
    color: $light-font-color;
}

.deptItem:hover {
    border: 2px solid $light-font-color;
}