.expensesItem {
    padding: 7px;
    margin-top: 2px;
    width: 70%;
    overflow: hidden;
    border: 1px solid #7D7D7D;
    background-color: #BEBEB3;
}
.expensesItem:hover {
    margin-top: -1px;
    border: 2px solid #4F6AAB;
}

.expensesItem__title {
    font-size: 20px;
}

.deleteButton {
    float: right;
}