$icon-font-path: "/fonts/";
@import "./variables.scss";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


#content {
    font-family: 'Oxygen', sans-serif;
    background-color: $bgGrey;
    padding: 30px;
    color: $darkGrey;
}

.container__header, .container-fluid {
	h1, h2, h3, h4, h5, h6 {
	    font-family: 'Architects Daughter', cursive;
        color: $lightBlue;
	}

	a {
	    color: $lightBlue;
	    cursor: pointer;
	}

	a:hover {
	    color: $bgGrey;
	}
}

// override bootstrap container padding:
.container-fluid {
    padding: 15px 0;
    margin-bottom: 30px;
}

.container__header {
    background: $darkGrey;
    border: 1px solid $lightBlue;
    border-radius: 5px;
    color: $bgGrey;
    overflow: auto;
    padding: 0 20px;
    margin-bottom: 30px;
    min-height: 80px;
}

.container__nocontent {
    padding: 20px 50px;
}

button {
    background-color: $lightGrey;
    background: $lightGrey;
    font-weight: bold;
    color: $darkGrey;
    width: 80px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid $lightGrey;
}

button:hover {
    opacity: 0.7;
}


@media (max-width:767px) {

    #content {
        padding: 0;
        background: $darkGrey;
    }

	.container__header {
        border: none;        
        padding: 0 15px 10px 15px;
        min-height: 70px;
        h1 {
            margin-top: 10px;
        }
        margin-top: 25px;
        margin-bottom: 5px;
    }

    .container-fluid {
        padding: 0;
        margin: 0;
        min-height: 0;
	}

    .mobile-not-visible {
        display: none;
        opacity: 0;
    }
}