$bgGrey: #FBFBFB;
//$lightGrey: #8F8F8F;
//$darkGrey: #414141;

$lightGrey: #cacaca;
$darkGrey: #414141;
$lightBlue: #55c8ff;

$itemHoverWidth: 8px;
$formFontSize: 16px;

$expensesGraphHeight: 480px;

$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;
$hamburger-padding-x: 10px;
$hamburger-padding-y: 10px;