$bgGrey: #FBFBFB;
//$lightGrey: #8F8F8F;
//$darkGrey: #414141;

$lightGrey: #cacaca;
$darkGrey: #414141;
$lightBlue: #55c8ff;

$itemHoverWidth: 8px;
$formFontSize: 16px;

$expensesGraphHeight: 480px;
$appHeaderHeight: 55px;