.expensesList {
    width: 30%;
    float: left;
    height: 85%;
}

.expensesItemList {
    list-style-type: none;
    overflow: auto;
    height: 95%;
}
.expensesItemList li:last-child {
    margin-bottom: 15px;
}
