@import '../variables.scss';

.expensesListCreateForm {
    width: 50%;
    float: left;
    display: inline-block;
}

.expensesListCreateForm__label {
    width: 80px;
    margin-right: 40px;
}

.expensesListCreateForm__input {
    width: 20px;
    min-width: 180px;
    margin-right: 40px;
}