@import '../variables.scss';


.expensesList {
    width: 31%;
    float: left;
}

.expensesItemList {
    list-style-type: none;
    overflow: auto;
    max-height: $expensesGraphHeight;
}

@media (max-width:767px) {
    .expensesList {
	    width: 100%;
	}
}