@import '../variables.scss';


.expensesGraph {
    width: 65%;
    float: right;
    height: $expensesGraphHeight;
}

canvas {
    padding: 15px;
    border-radius: 5px;
    border: 2px solid $darkGrey;
    background: $bgGrey;
}