@import '../variables.scss';

.expensesItem {
    width: 88%;
}

.expensesItem button {
    border: 1px solid $lightGrey;
    float: right;
    font-size: 14px;
    top: 6px;
}

.expensesItem__deleteButton {
    border: 1px solid $lightGrey;
    height: 30px;
    line-height: 0px;
    position: relative;
    width: 30px;
}

.expensesItem__deleteButton:hover, .expensesItem__actionButton:hover {
    opacity: 1;
    color: $lightBlue;
    transform: scale(1.1);
    transition: 150ms ease-in-out;
    border-color: $lightBlue;
    background: $darkGrey;
}

.expensesItem__actionButton {
    border: 1px solid $lightGrey;
    margin: 0 5px;
    height: 30px;
    line-height: 0px;
    position: relative;
    width: 45px;
}


@media (max-width:767px) {
    .expensesItem {
        width: 90%;
    }
    .expensesItem button {
        font-size: 12px;
        height: 25px;
        top: 3px;
    }
    .expensesItem__deleteButton {
        width: 25px;
    }
    .expensesItem__actionButton {
        width: 40px;
    }
    .expensesItem__deleteButton:hover, .expensesItem__actionButton:hover {
        transform: none;
        transition: none;
    }
}