@import '../variables.scss';

.expensesItem {
    padding: 7px 10px;
    margin-top: 5px;
    width: 88%;
}

.expensesItem button {
    border: 1px solid $lightGrey;
}

.expensesItem__title {
    font-size: 20px;
}

.expensesItem__deleteButton {
    border: 1px solid $lightGrey;
    float: right;
    opacity: 1;
    width: 30px;
    height: 25px;
}

.expensesItem__deleteButton:hover {
    opacity: 1;
    color: $lightBlue;
    transform: scale(1.1);
    border-color: $lightBlue;
    background: $darkGrey;
}

.expensesItem__actionButton {
    float: right;
    margin: 5px;
    width: 45px;
    border: 1px solid $lightGrey;
}