@import '../variables.scss';

.expensesItem {
    width: 88%;
}

.expensesItem button {
    border: 1px solid $lightGrey;
}

.expensesItem__deleteButton {
    border: 1px solid $lightGrey;
    float: right;
    font-size: 14px;
    height: 30px;
    line-height: 0px;
    position: relative;
    top: 6px;
    width: 30px;
}

.expensesItem__deleteButton:hover, .expensesItem__actionButton:hover {
    opacity: 1;
    color: $lightBlue;
    transform: scale(1.1);
    transition: 150ms ease-in-out;
    border-color: $lightBlue;
    background: $darkGrey;
}

.expensesItem__actionButton {
    border: 1px solid $lightGrey;
    font-size: 14px;
    float: right;
    margin: 5px;
    height: 30px;
    line-height: 0px;
    position: relative;
    width: 45px;
}