@import '../variables.scss';


.expensesContainer {
    width: 100%;
    height: 100vh; // height of viewport
}

.expensesContainer__header {
    border: 1px solid $lightBlue;
    border-radius: 5px;
    color: $bgGrey;
    overflow: auto;
    margin-bottom: 30px;
    background: $darkGrey;
    padding: 0 20px;
}

.expensesContainer__header h1, .expensesContainer__header h3 {
    color: $lightBlue;
}