@import '../variables.scss';

.expensesListCreateForm {
    width: 50%;
    float: left;
    min-width: 280px;
}

.expensesListCreateForm__label {
    width: 80px;
    margin-right: 40px;
}

.expensesListCreateForm__input {
    min-width: 260px;
}

@media (min-width:768px) {
	.expensesListCreateForm__mobileButton {
		display: none;
	}
}

@media (max-width:767px) {
	.mobile-not-visible {
		display: none;
	}
}