@import '../variables.scss';


.form__label {
	min-width: 85px;
	margin-right: 10px;
}

.form__select, .form__input {
    background-color: $lightGrey;
    border-radius: 5px;
    margin-bottom: 10px;
    color: $darkGrey;
    font-size: $formFontSize;
    padding: 4px;
}

.expensesListCreateForm, .expensesListSelector, .editForm  {
	.form-group {
		margin-bottom: 0;
	}
}

@media (min-width:768px) {
	.editForm {
		border-left: 1px solid $lightBlue;
		padding-left: 12px;
	}
	
	.expensesListCreateForm, .expensesListSelector, .editForm  {
	    width: 90%;
	    margin: 0 auto 15px auto;
	}

	.form__select, .form__input {
	    min-width: 165px;
	    width: 60%;
	}

}

@media (max-width:767px) {
	.expensesListCreateForm, .expensesListSelector, .editForm  {
	    width: 100%;
	    float: left;
		margin-bottom: 15px;
	}

	.form__select, .form__input {
	    min-width: 180px;
	    width: 60%;
	}
}