@import '../variables.scss';


.expensesGraph {
    width: 65%;
    float: right;
    overflow: hidden;
    height: 85%;
}

canvas {
    padding: 15px;
    border-radius: 5px;
    border: 2px solid $darkGrey;
    background: $bgGrey;
}

@media (max-width: 480px) {
    .expensesGraph {
        width: 0%;
        heigth: 0%;
    }
}