@media (min-width:768px) {

	.mobileExpandable__expendButton {
		display: none;
	}

}

@media (max-width:767px) {
	.mobileExpandable {
		float: left;
		margin: 0 10px;
		margin-bottom: 10px;
	}
	.not-visible {
		display: none;
	}
}